<tr id="company_<%=company.id %>">
  <td><%= company.name %></td>
  <td><%= link_to 'Show', company, class:"btn btn-sm btn-primary" %></td>
  <td><%= link_to 'Edit', edit_company_path(company), data: {remote: true}, class:"btn btn-sm btn-warning" %></td>  
  <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-danger"%></td>
</tr>
